@{
    ViewData["Title"] = "Home Page";
}

@model Session;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Model.dealer.Deal(Model.Players)


    @foreach (Player player in Model.Players)
    {
        <p>@player.ShowHand()</p>
        @player.Hit(Model.dealer.Deck);
    }




</div>